<div class="main">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
<!--<div class="card-container flex">-->
<!--    <div class="card primary-box" pRipple>Default</div>-->
<!--    <div class="card styled-box-green" pRipple>Green</div>-->
<!--    <div class="card styled-box-orange" pRipple>Orange</div>-->
<!--    <div class="card styled-box-purple" pRipple>Purple</div>-->
<!--</div>-->
