
<!--<p-button label="Ingresar" routerLink="../products" ></p-button>-->
<!--<p-button label="Dahboard" class="p-button-success" routerLink="../dashboard" ></p-button>-->


<h5>Accesos</h5>
<!--<button pButton pRipple type="button" label="Primary" ></button>-->
<button pButton pRipple type="button" label="Productos" class="p-button-secondary mr-2" routerLink="/products"></button>
<button pButton pRipple type="button" label="Dashboard" class="p-button-success" routerLink="/dashboard"></button>
<!--<button pButton pRipple type="button" label="Info" class="p-button-info"></button>-->
<!--<button pButton pRipple type="button" label="Warning" class="p-button-warning"></button>-->
<!--<button pButton pRipple type="button" label="Help" class="p-button-help"></button>-->
<!--<button pButton pRipple type="button" label="Danger" class="p-button-danger"></button>-->