<h1>Listado de Productos {{ msg }}</h1>
<div class="card">
    <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name"
                [sortField]="sortField" [sortOrder]="sortOrder" layout="grid" >
        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between">
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
                <span class="p-input-icon-left mb-2 md:mb-0">
                  <i class="pi pi-search"></i>
<!--                  <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target?.value)">-->
<!--                    <input type="text"  value="search" name="radio" pInputText placeholder="Search by Name" (input)="dv.filter(($event.value)">-->
                    <input type="text"  name="radio" pInputText placeholder="Search by Name" (input)="onInput($event)">
                    <input type="text"  value="search" name="radio" pInputText placeholder="Search by Name" (focus)="onFocus(dv)">
                </span>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="listItem">
            <div class="col-12">
                <div class="product-list-item">
                    <img [src]="product.images[2]" [alt]="product.title" loading="lazy">
                    <div class="product-list-detail">
                        <div class="product-name">{{product.title}}</div>
                        <div class="product-description">{{product.description}}</div>
                        <p-rating [ngModel]="product.category.id" [readonly]="true" [cancel]="false"></p-rating>
                        <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category.name}}</span>
                    </div>
                    <div class="product-list-action">
                        <span class="product-price">${{product.price}}</span>
                        <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                        <span [class]="'product-badge status-' + product.category.typeImg.toLowerCase()">{{product.category.typeImg}}</span>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="gridItem">
            <div class="col-12 md:col-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{product.category.name}}</span>
                        </div>
                        <span [class]="'product-badge status-' + product.category.typeImg.toLowerCase()">{{product.category.typeImg}}</span>
                    </div>
                    <div class="product-grid-item-content">
                        <img [src]="product.images[2]" [alt]="product.title" loading="lazy">
                        <div class="product-name">{{product.title}}</div>
                        <div class="product-description">{{product.description}}</div>
                        <p-rating [ngModel]="product.category.id" [readonly]="true" [cancel]="false"></p-rating>
                    </div>
                    <div class="product-grid-item-bottom">
                        <span class="product-price">${{product.price}}</span>
                        <p-button icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
