/*=============== BASE ===============*/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family         : var(--body-font);
}

body {
    width               : 100%;
    font-family         : var(--body-font);
    background-color    : var(--surface-b);
    // font-size           : var(--normal-font-size);
    // background-color    : var(--body-color);
    // color               : (--first-color);
    transition          : .5s; //For animation dark mode
    color: var(--text-color);
}