<p-sidebar [(visible)]="visibleSidebar"
           [baseZIndex]="10000"
           position="left"
           pRipple
           [style]="{width: '30em'}">
    <h1 style="font-weight:normal">Left Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>


<!--<p-button type="button" class="mr-2" (click)="visibleSidebar = true" icon="pi pi-align-left"></p-button>-->