<h1>Formulario Nuevo Producto</h1>

<h5>Toggleable</h5>
<div class="py-3 px-6">
    <p-fieldset legend="Nuevo" [toggleable]="true" [collapsed]="false">
        <form [formGroup]="Form" (ngSubmit)="onSubmit()">
            <div class="grid p-fluid">
                <div class="col-12" >
                    <label >Title </label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText placeholder="title"  formControlName="title">
                    </div>
                </div>
                <div class="col-12" >
                    <label>Price </label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">$</span>
                        <p-inputNumber pRipple placeholder="Price" formControlName="price"></p-inputNumber>
                        <span class="p-inputgroup-addon">.00</span>
                    </div>
                </div>
                <div class="col-12" >
                    <label>Imagen </label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">www</span>
                        <input type="text" pInputText placeholder="title"  formControlName="images">
                        <span class="p-inputgroup-addon">.00</span>
                    </div>
                </div>
                <div class="col-12">
                    <label>Description</label>
                    <textarea pInputTextarea [autoResize]="true" formControlName="description"></textarea>
                </div>
                <div class="col-12" >
                     <p-dropdown  [options]="categories" optionLabel="typeImg" placeholder="Select a Category" [showClear]="true" formControlName="category">
                     </p-dropdown>
<!--                    <div class="p-inputgroup">-->
<!--                        <span class="p-inputgroup-addon">www</span>-->
<!--                        <select name="" id="" pInputText formControlName="category">-->
<!--                            <option  *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>-->
<!--                        </select>-->
<!--                    </div>-->
                </div>
                <div class="col-12">
                    <button pRipple type="submit" pButton label="Submit" [disabled]="!Form.valid"></button>
                </div>
            </div>

        </form>
    </p-fieldset>
</div>

