
<div class="p-6 flex">
    <h1 class="mr-3">Productos</h1>
    <button pButton label="Agregar" routerLink="/dashboard/new-product"></button>
</div>

<div class="container-table">
    <p-table  [value]="products" [tableStyle]="{'min-width': '30rem'}" styleClass="p-datatable-striped" >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Products
                <p-button icon="pi pi-refresh"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-product>
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.title}}</td>
                <td><img [src]="product.images[2]" [alt]="product.title" loading="lazy" width="100" class="shadow-4" /></td>
                <td>{{product.price | currency:'USD'}}</td>
                <td>{{product.category.name}}</td>
                <td><p-rating [ngModel]="product.category.id" [readonly]="true" [cancel]="false"></p-rating></td>
                <td><span [class]="'product-badge status-' + product.category.typeImg.toLowerCase()">{{product.category.typeImg}}</span></td>
                <td>
                    <button [routerLink]="['/dashboard/edi-product', product.id]" pButton type="button" icon="pi pi-pencil" pRipple  class="p-button-success mr-2"></button>
                    <button routerLink="/dashboard/" pButton type="button" icon="pi pi-trash" pRipple  class="p-button-danger "></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{products ? products.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</div>
