.container-table {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
    background: var(--surface-card);
}

.product-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    &.status-any {
        background-color: #C8E6C9;
        color: #256029;
    }
    &.status-tech {
        background: #FEEDAF;
        color: #8a5340;
    }
    &.status-animals {
        background: #affefe;
        color: #408a88;
    }

}