/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/config/variables";
//@import "./scss/config/mixin";
@import "./assets/scss/base/bases";

body {
    margin: 0;
    padding: 0;
}

main {
    border: 1px solid red;
}