@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap');

:root {
    /*========== Colors ==========*/
    --hue: 240; //  Yellow: 45   | Red: 4 | Orange: 18  | Green: 118
    --sat: 30%; // Yellow: 98% | Red: 90% | Orange: 85% | Green: 50%
    // --first-color: hsl(var(--hue), var(--sat), 50%);
    --very-dark-blue    : hsl(231, 67%, 9%);
    --dark-blue         : hsl(231, 41%, 16%);
    --desaturated-blue  : hsl(240, 30%, 20%);
    --light-blue        : hsl(232, 40%, 22%);
    // --title-color       : hsl(200, 4%, 15%);
    --text-gray         : hsl(240, 12%, 44%);
    --text-ligth-pruple : hsl(230, 64%, 81%);
    // --text-color        : hsl(197, 4%, 35%);
    --text-gray-light   : hsl(197, 4%, 65%);

    --purple            : hsl(250, 65%, 53%);
    --yellow            : hsl(45, 75%, 48%);
    --red               : hsl(0, 71%, 53%);


    --white-color       : #ffffff;
    // --container-color   : #ffffff;

    /*========== Font and typography ==========*/
    --body-font: 'Mulish', sans-serif;

    --biggest-font-size : 3rem;
    --h2-font-size      : 1.75rem;
    --h3-font-size      : 1.25rem;
    --normal-font-size  : 1rem;
    --small-font-size   : .875rem;
    --smaller-font-size : .813rem;


    /*========== Font weight ==========*/
    --font-ligth-bold   : 400;
    --font-semi-bold    : 600;
    --font-bold         : 700;
}